* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.list {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 5px 2px;
}
.logoImg {
  height: 33px;
  width: 110px;
  transition: all ease 0.8s;
  cursor: pointer;
}
.logoImg:hover {
  transform: rotate(180deg);
  background: linear-gradient(rgba(198, 11, 11, 0.5), rgba(20, 246, 8, 0.5));
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 25px;
  background-color: black;
  color: white;
  padding: 15px;
}
nav > ul > li {
  list-style: none;
  text-align: right;
  padding: 15px;
  transition: all ease 0.5s;
}
nav > ul > li:hover {
  background-color: red;
  color: white;
  border-radius: 8px;
}
/* -------HEADER SECTION END------- */

/* ------MAIN SECTION START----- */

.mainSection {
  background-image: url(img/background.webp);
  background-color: rgb(rgb(42, 39, 39, 0.3));
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
